.header {
    font-family: "Roboto";
    background-color: white;
    font-style: normal;
    font-weight: 500;
}
.header__logo {
    width: 10rem;
    transition: opacity 0.8s ease-in-out;
}


.header__top_right {
    display: flex;
    align-items: center;
    position: relative;
    width: 10rem;
}

.header__search {
    background-image: url("../media/svg/Search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border: none;
    width: 0.89rem;
    height: 0.89rem;
    background-color: white;
    cursor: pointer;
    position: absolute;
    margin-left: 0.5rem;
    right: 0;
}

.header__text-field {
    font-size: 0.75rem;
    color: #4b4b4b;
    border: none;
    border-bottom: solid 0.0625rem #7d7d7d;
    position: absolute;
    left: 0;
    width: 0;
    visibility: hidden;
    outline-style: none;
    transition: all 0.3s ease-in-out;
}

.header__top {
    display: flex;
    padding-top: 1.44rem;
    padding-bottom: 1.61rem;
    align-items: center;
    border: solid 0.05rem #E9E9E9;
    }

.header__bottom {
    border-bottom: solid 0.05rem #E9E9E9;
    justify-content: center;
    height: 3.20rem;
    width: 100%;
    font-weight: 500;
    align-items: center;
}

.header__select {
    cursor: pointer;
    box-sizing: border-box;
}

.header__select-body {
    width: max-content;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.header__link {
    text-decoration: none;
    color: black;
    border: none;
    transition: opacity 0.5s ease-in-out;
}

.header__link:hover {
    opacity: 0.55;
}

.header__select-header{
    display: flex;
    align-items: center;
}

.header__select-icon-img {
    margin-left: 0.28rem;
    transform: translate(0,-25%);
}
@media (width: 320px) {
	.header {
		position: relative;
	}
	.header__search {
		transform: translateY(0);
	}
	.header__bottom {
		display: none;
	}
	.header__bottom_mobile {
		font-weight: 500;
		margin-top: 1rem;
		box-sizing: border-box;
		padding: 0 1.7rem;
	}
}

@media (width: 600px) {
	.header__top {
		padding-right: 0;
		padding-left: 0;
		justify-content: space-around;
	}
	.header__top_right {
		display: block;
	}
}

@media (width: 1024px) {
    .header {
        position: sticky;
        top: 0;
        transition: all 0.5s ease-in-out;
    }
    .header__mobile {
        display: none;
    }
    .header__burger {
        display: none;
    }
    .header__top {
        position: relative;
        justify-content: center;
    }
    .header__top_right {
        right: 5rem;
    }
    .header__bottom {
        display: flex;
    }
    .header__link {
        margin-top: 0;
    }
    .header__select {
        position: relative;
        height: inherit;
        max-height: none;
        display: flex;
        border-bottom: none;
        margin-right: 1.8rem; 
        padding: 0;
    }
    .header__select-body {
        position: absolute;
        border: solid 0.05rem #E9E9E9;
        border-top: none;
        padding: 1.1rem;
        margin-top: 3.2rem;
        height: max-content;
        box-sizing: border-box;
        background-color: white:
        top: 0; 
    }
}