mixin topic-card(type, topic, image)
	.main__card
		.main__caard-img
			img.main__card-picture(src=image alt="Изображения")
		.main__card-type=type
		.main__card-topic=topic 
		.main__card-user
			span.main__card-author Niek Bove
			span.main__card-date April 8, 2018
			span.main__card-views 3K Views
		.main__card-description Structured gripped tpe invisible moduled cups for sauppor firm hold strong powermesh front liner

main
	div.main
		+topic-card('Style', 'photo', '../media/png/1.png')
		+topic-card('Lifestyle', 'photo', '../media/png/2.png')
		+topic-card('Style', 'photo', '../media/png/3.png')
		+topic-card('Style', 'photo', '../media/png/4.png')
		+topic-card('Style', 'photo', '../media/png/5.png')
		+topic-card('Style', 'photo', '../media/png/6.png')
		+topic-card('Lifestyle', 'photo', '../media/png/7.png')
		+topic-card('Style', 'photo', '../media/png/8.png')
		+topic-card('Style', 'photo', '../media/png/9.png')